{% extends "NitraTopsBundle:OrdersEdit:index.html.twig" %}

{% block title %}
    {% trans from "Admin" %}Новый заказ{% endtrans %}
{% endblock title %}
    
{% block page_title %}
    <header>
        <h1>{% trans from "Admin" %}Новый заказ{% endtrans %}</h1>
    </header>
{% endblock page_title %}