{% extends "NitraTopsBundle:OrdersEdit:index.html.twig" %}
{% trans_default_domain "NitraTopsBundle" %}

{% block title %}
    {{ 'order_new.title'|trans }}
{% endblock title %}
    
{% block page_title %}
    <header>
        <h1>{{ 'order_new.title'|trans }}</h1>
    </header>
{% endblock page_title %}